@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> <div style="padding-left:10px;">
    A definição de um carro esporte, não é muito precisa,
    mas desde os primeiros automóveis, "as pessoas encontravam
    meios para que eles andassem mais rápido, contornassem melhor
    as curvas e parecessem mais bonitos" que os modelos "normais de
    produção", criando uma relação emocional com o veículo que era
    mais divertido de guiar.
</div></p>
<br>
<div>
<img style="padding-left:150px" src="~/Imagens/motor.jpg" height="400" >
</div>